@import '/styles/flex.css';
@import '/styles/spacings.css';

:root {
  --black: black;
  --grey: #959ab1;
  --ts-blue: #4176c1;
  --white: white;
  --warn-red: #a80000;
  --google: rgb(216, 81, 64);
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: Silom, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 1.3rem;
  line-height: 1.2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: 'Silom';
  src: url('/fonts/silom.ttf');
}

img {
  max-width: 100%;
}

.play-image {
  width: 400px;
  border: 2px solid #333;
}

.subtitle {
  font-size: 2.5rem;
}

.title {
  font-size: 15rem;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 2rem;
}

nav,
footer {
  font-size: 1rem;
  background: #333;
  position: sticky;
  top: 0px;
}

.btn {
  appearance: none;
  border: none;
  background: var(--ts-blue);
  color: var(--white);
  font-family: Silom;
  font-size: 2rem;
  padding: 12px;
  text-decoration: none;
}

.br {
  border-left: 4px solid #333;
}

.main {
  padding: 120px 0px;
}

.margins {
  margin: 0px auto;
  max-width: 1200px;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: stretch;
}

.card {
  background: #222;
}

.roadmap-start {
  text-align: center;
  color: #888;
}

.text-align-right {
  text-align: right;
}

.grey {
  color: #999;
  font-size: 1rem;
}

.height-130,
.height-200 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.height-130 {
  height: 170px;
}

.height-200 {
  height: 220px;
}

.date {
  color: #555;
  font-size: 0.9rem;
}

h2 {
  font-size: 3rem;
}

a {
  color: var(--white);
}

.anchor {
  position: relative;
  top: -100px;
  /* display: none; */
}

nav a {
  text-decoration: none;
}

.arrow {
  font-size: 2rem;
}

.opened .arrow {
  transform: rotate(180deg);
}
